@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Roboto+Condensed:wght@300&family=Roboto+Slab&family=Roboto:wght@100&family=Rubik+Scribble&family=Share+Tech+Mono&family=Teko&family=Ubuntu:wght@300&display=swap');


*{
    margin: 0px;
    padding: 0px;
}


body{
    /* overflow: hidden; */
    height: 1000px;
}

.logo
{
    display: inline-block;
}
img
{
    width: 100px;
    
    height: 100px;
}


.contacts
{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    justify-items: center;
    align-items: center;
    width: 100%;
    font-family: Ubuntu;
    background-color: hsl(0,0%,20%);
    font-weight: 1000;
    font-size: 16px;
    height: 50px;
    color: white;
}


nav
{
    display: flex;
    position: relative;
}
.nav ul li::selection 
{
    background-color: maroon;
    color: white;
}
nav .nav
{
    color: rgb(151, 66, 66);
    width: 60%;
    height: 100px;
    font-family: ubuntu;
    font-weight: 1000;
    position: absolute;
    right: 1%;
}
nav .nav ul
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    height: 100%;
}
nav .nav ul li
{
    align-items: center;
    width: 15%;
}

.hamburgerMenu
{
    position: absolute;
    right: 0;
    width: 250px;
    height: 100vh;
    font-family: ubuntu;
    font-weight: 1000;
    visibility: hidden;
}
.hamburgerMenu input
{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 20px;
    top: 25px;
    opacity: 0;
    z-index: 2;
}
.hamburgerMenu span
{
    background-color: rgb(151, 66, 66);
    transform: translate(-5px,15px);
    transition: all 0.4s ;
}
.hamburgerMenu #bar1
{
    display: block;
    width: 32px;
    height: 4px;
    border-radius: 3px;
    position: absolute;
    right: 20px;
    top: 25px;
}
.hamburgerMenu #bar2
{
    display: block;
    width: 32px;
    height: 4px;
    border-radius: 3px;
    position: absolute;
    right: 20px;
    top: 32px;
}
.hamburgerMenu #bar3
{
    display: block;
    width: 32px;
    height: 4px;
    border-radius: 3px;
    position: absolute;
    right: 20px;
    top: 40px;
}
.hamburgerMenu ul
{
    top: 104px;
    width: 100%;
    position: absolute;
    background-color: maroon;
    color: white;
    z-index: 100;
    height: 100vh;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: -1000px;
    transition: all 0.4s;
    
}
.hamburgerMenu ul li
{
    height: 50px;
    width: 100px;
    margin: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s;
    position: relative;

    &::after
    {
      content: '';
      position: absolute;
      inset: 0;
    }  
}
/* li hover effects */
ul li:hover::after
{
  border: 2px solid white;
}

 /* checkbox checked */
 input:checked ~ #bar2
 {
   transform: rotate(45deg) translate(4px,20px);
 }

 input:checked ~ #bar1
 {
   opacity: 0;
   transform: rotate(0deg) translate(0px,0px);
 }

 input:checked ~ #bar3
 {
   transform: rotate(-45deg) translate(-14px,-1px);
 }

 input:checked ~ ul
 {
   left: 0px;
 }
 input:checked ~ ul li
 {
   left: 0px;
 }

.section1
{
    color: white;
    position: relative;
    font-family: ubuntu;
    font-weight: 1000;
    width: 100%;
    height: 600px;
    background-image: url('img1.jpg');
    background-size: 100% 110%;
    
}
.section1 .info
{
    position: absolute;
    top: 180px;
    left: 20%;
}
.section1 button
{
    position: absolute;
    top: 320px;
    left: 20%;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    height: 50px;
    width: 150px;
    border-radius: 10px;
    display: none;
}

.section2
{
    width: 100%;
    height: 300px;
    position: relative;
}
.cards
{
    height: 300px;
    width: 100%;
    /* background-color: red; */
    position: absolute;
    top: -90px;
    display: flex;
    justify-content: space-evenly;
}
.cards #card1
{
    height: 350px;
    width: 25%;
    background-image: linear-gradient(blueviolet 10%,blue);
    border-radius: 10px;
    color: white;
    position: relative;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;

    &::before
    {
        position: absolute;
        content: '';
        inset: 10px;
        border-top: 3px solid white;
        border-bottom: 3px solid white;
        transform: scale(0,1);
        transition: all 0.4s;
    }
    &::after
    {
        position: absolute;
        content: '';
        inset: 10px;
        border-left: 3px solid white;
        border-right: 3px solid white;
        transform: scale(1,0);
        transition: all 0.4s;

    }
}
#card1:hover::before
{
    transform: scale(1,1);
}
#card1:hover::after
{
    transform: scale(1,1);
}
.cards #card2
{
    height: 350px;
    width: 25%;
    position: relative;
    background-image: linear-gradient(rgb(226, 43, 131) 10%,red);
    border-radius: 10px;
    color: white;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;

    &::before
    {
        position: absolute;
        content: '';
        inset: 10px;
        border-top: 3px solid white;
        border-bottom: 3px solid white;
        transform: scale(0,1);
        transition: all 0.4s;
    }
    &::after
    {
        position: absolute;
        content: '';
        inset: 10px;
        border-left: 3px solid white;
        border-right: 3px solid white;
        transform: scale(1,0);
        transition: all 0.4s;

    }
}
#card2:hover::before
{
    transform: scale(1,1);
}
#card2:hover::after
{
    transform: scale(1,1);
}
.cards #card3
{
    height: 350px;
    width: 25%;
    position: relative;
    background-image: linear-gradient(rgb(226, 217, 43) 10%,orange);
    border-radius: 10px;
    color: white;
    justify-self: end;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;

    &::before
    {
        position: absolute;
        content: '';
        inset: 10px;
        border-top: 3px solid white;
        border-bottom: 3px solid white;
        transform: scale(0,1);
        transition: all 0.4s;
    }
    &::after
    {
        position: absolute;
        content: '';
        inset: 10px;
        border-left: 3px solid white;
        border-right: 3px solid white;
        transform: scale(1,0);
        transition: all 0.4s;

    }
}
#card3:hover::before
{
    transform: scale(1,1);
}
#card3:hover::after
{
    transform: scale(1,1);
}

.cards #card1 .writtendetails
{
    margin: 0px 30px;
}
.cards #card2 .writtendetails
{
    margin: 0px 30px;
}
.cards #card3 .writtendetails
{
    margin: 0px 30px;
}

.cards #card1 i
{
    display: block;
    margin: 20px auto;
}
.cards #card2 i
{
    display: block;
    margin: 20px auto;
}
.cards #card3 i
{
    display: block;
    margin: 20px auto;
}

.cards #card1 button
{
    margin: 0px auto;
    width: 150px;
    height: 50px;
    border-radius: inherit;
    border: 2px solid white;
    background-color: transparent;
    color: white;
}
.cards #card2 button
{
    margin: 0px auto;
    width: 150px;
    height: 50px;
    border-radius: inherit;
    border: 2px solid white;
    background-color: transparent;
    color: white;
}
.cards #card3 button
{
    margin: 0px auto;
    width: 150px;
    height: 50px;
    border-radius: inherit;
    border: 2px solid white;
    background-color: transparent;
    color: white;
}


.section3 .getTouch
{
    /* height: 150px; */
    margin: 50px auto;
    width: 60%;
    background-color: #1e79c9;
    font-family: ubuntu;
    font-weight: 1000;
    color: white;
    border-radius: 5px;
    padding: 10px;
}
.section3 .getTouch .heading
{
    display: flex;
    align-items: baseline;
    margin: 15px auto;
    width: 90%;
}
.section3 .getTouch .heading i
{
    margin: 0px 10px;
}
.section3 .getTouch .heading h2
{
    width: 80%;
    margin: 0px 20px;
}
.section3 .getTouch .content
{
    margin: 10px auto;
    width: 90%;
    display: flex;
    align-items: baseline;
}
.section3 .getTouch .content button
{
    width: 150px;
    height: 40px;
    border-radius: 7px;
    border: 2px solid white;
    background-color: transparent;
    opacity: 0.5;
    color: white;
}

footer
{
    width: 100%;
    background-color: rgb(43, 42, 42);
    font-family: ubuntu;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

}
footer h3
{
    margin: 20px 0px;
}
footer .mails
{
    margin: 20px 0px;
    text-align: center;
    width: 60%;
    opacity: 0.8;
}
footer .copyright
{
    margin: 10px 0px;
    text-align: center;
    width: 60%;
    opacity: 0.8;
}
footer .copyright h6
{
    font-weight: 100;
    margin: 10px 0px;
}


.socialMedia i
{
    margin: 0px 10px;
}

@media (max-width:978px){
    .contacts h3
    {
        display: none;
    }
    .section3 .content 
    {
        flex-direction: column;
    }
    .section3 .content button
    {
        margin: 0px auto;
        margin-top: 20px;
    }
}
@media (max-width:800px){
    .nav
    {
        display: none;
    }
    nav .hamburgerMenu
    {
        visibility: visible;
    }
    .section1 h4
    {
        display: none;
    }
    .section1 h1
    {
        background-clip: text;
        color:transparent;
        background-image: linear-gradient(to right,red,yellow,blue);
    }
    .section1 button
    {
        display: block;
    }
    .section2
    {
        display: none;
    }
    .section3 .getTouch
    {
        width: 90%;
    }
    .hamburgerMenu
    {
        width: 100%;
    }

}
