@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=Ubuntu:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0;
}

body {
    background-color: rgb(221, 210, 210);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    background-color: black;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;

}

.logo img {
    height: 100%;
    width: 110px;
}

.log img {
    height: 100%;
    width: 100%;
}

.homepage {
    width: 20vmin;
    height: 28vh;
    font-family: monospace;
    position: absolute;
    margin: 30px 0px;
    left: 20px;
}

.homepage .bar {
    border-radius: 6%;
    width: 20min;
    height: 7vh;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s;

}
.homepage ul{
    height: 21vmin;
    width: 100%;
    /* background-color: yellow; */
    display: none;

}
.homepage ul li{
    border-radius: 5%;
    height: 7vmin;
    width: 100%;
    background-color: rgb(153, 151, 151);
    border-bottom: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;

}
.homepage:hover ul{
    display: block;
}
.homepage:hover .bar{
    background-color: orangered;
}
.log {
    display: inline;
    background-color: greenyellow;
    height: 40px;
    width: 40px;
    border-radius: 4px;
    margin: 30px 0px;
}

.log img {
    height: 100%;
    width: 100%;
}


.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0px;
    background-color: white;
    width: 70%;
    border-radius: 20px;
}

.intro h3 {
    font-family: 'Share Tech Mono', monospace;
    color: orangered;
    font-size: 2em;
    padding: 0px 20px;
}
.intro h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    margin: 10px 0px;
    font-family: Ubuntu;
}

.intro p {
    font-size: 20px;
}

.para {
    /* border: 2px solid grey; */
}

.laylinks {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.row {
    display: flex;
    /* width: 110%;  */

}

.row div {
    margin: 20px 20px;
    border: 3px solid orangered;
    border-radius: 10px;
    text-align: center;
}

.row img {
    padding: 1em;
    height: 10em;
    width: 10em;
}

.laylinks a {
    text-decoration: none
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgb(61, 58, 58);
    color: white;
    font-family: 'Share Tech Mono', monospace;
}

footer a {
    color: orangered;
}




/* Responsive Design*/

@media (max-width:1632px) {
    .row {
        display: flex;
        /* flex-direction: column; */
        flex-wrap: wrap;
    }

    .laylinks {
        align-items: center;
    }

    .row a {
        flex-grow: 1;
    }
}
@media (max-width:1080px) {
    .intro{
        width: 100%;
    }
    .laylinks{
        width: 100%;
    }
    }
