@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=Ubuntu:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0;
}

body {
    background-color: rgb(221, 210, 210);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    background-color: black;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;

}

.logo img {
    height: 100%;
    width: 110px;
}

.log img {
    height: 100%;
    width: 100%;
}

.homepage {
    width: 20vmin;
    height: 28vh;
    font-family: monospace;
    position: absolute;
    margin: 30px 0px;
    left: 20px;
}

.homepage .bar {
    border-radius: 6%;
    width: 20min;
    height: 7vh;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.5s;

}
.homepage ul{
    height: 21vmin;
    width: 100%;
    /* background-color: yellow; */
    display: none;

}
.homepage ul li{
    border-radius: 5%;
    height: 7vmin;
    width: 100%;
    background-color: rgb(153, 151, 151);
    border-bottom: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;

}
.homepage:hover ul{
    display: block;
}
.homepage:hover .bar{
    background-color: orangered;
}
.homepage img {
    height: 100%;
    width: 100%;
}

.log {
    display: inline;
    background-color: greenyellow;
    height: 40px;
    width: 40px;
    border-radius: 4px;
    margin: 30px 0px;
}

.log img {
    height: 100%;
    width: 100%;
}


.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0px;
    background-color: white;
    width: 70%;
    border-radius: 20px;
}

.intro>h3 {
    font-family: 'Share Tech Mono', monospace;
    background-color: orangered;
    font-size: 2em;
    color: white;
    margin: 10px;
    align-items: center;
    border-radius: 10px;
    display: inline;
    padding: 0px 50px;
    text-align: center;
}

.intro>h3::selection {
    background-color: orangered;
    color: black;
}

.intro p {
    font-size: 20px;
}

.selectmenu {
    display: flex;
    flex-wrap: wrap;
}

.selecttype {
    display: flex;
    margin: 10px 0px;
    justify-content: center;
    flex-wrap: wrap;
}

.selectmenu a {
    margin: 10px;
    width: 100px;
    font-size: 20px;
    font-family: 'Share Tech Mono', monospace;
    text-decoration: none;
}

.selecttype h4 {
    text-align: center;
}

.selecttype a {
    background-color: wheat;
    border-radius: 6px;
    margin: 5px;
    width: 100px;
    font-size: 20px;
    font-family: 'Share Tech Mono', monospace;
    text-decoration: none;
    color: orangered;
}

.selected {
    color: white;
    background-color: orangered;
    border-radius: 6px;
    display: inline;
}

.selectedt {
    border: 2px solid orange;
    border-radius: 6px;
}

.para {
    border: 2px solid grey;
    font-family: 'Share Tech Mono', monospace;
    margin: 20px 0px;
    display: flex;
    /* font-size: 30%; */
}

.para img {
    width: 15%;
    height: 15%;
}

.laylinks {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 70%;
    align-items: center;
}

.laylinks div {
    box-shadow: 2px 1px 6px 4px gray;
    width: 90%;
    border-radius: 3%;
    margin: 5% 0px;
    /* display: flex;
    justify-content: center */
}

.laylinks div img {
    width: 100%;
    border-radius: 3%;
}

.laylinks div h6 {
    margin: 0px 10px;
}

.laylinks div h6 a {
    font-size: 20%;
    text-decoration: underline;
    font-family: ubuntu;
    color: rgb(0, 128, 85);

}

.laylinks div h6 a:hover {
    color: rgb(249, 18, 18);

}

.laylinks .specs {
    display: flex;
    width: 20%;
    font-size: 20%;
    font-family: ubuntu;
    box-shadow: 0px 0px 0px 0px;
}

.specs h4 {
    background-color: rgb(255, 225, 0);
    margin: 0px 10%;
    border-radius: 10%;
    text-align: center;
}

.laylinks .about {
    box-shadow: 0px 0px 0px 0px;
    display: none;
}

.laylinks a {
    text-decoration: none;
    color: white;
}

.laylinks button {
    height: 2em;
    width: 7em;
    border-radius: 1em;
    background-color: rgb(47, 173, 222);
    font-family: ubuntu;
    font-size: 1em;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgb(61, 58, 58);
    color: white;
    font-family: 'Share Tech Mono', monospace;
}

footer a {
    color: orangered;
}




/* Responsive Design*/

@media (max-width:1632px) {
    .row {
        display: flex;
        /* flex-direction: column; */
        flex-wrap: wrap;
    }

    .laylinks {}

}

.row div {
    margin: 20px 20px;
    border: 3px solid orangered;
    border-radius: 10px;
}

.row img {
    padding: 1em;
    height: 10em;
    width: 10em;
}

.laylinks a {
    text-decoration: none
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgb(61, 58, 58);
    color: white;
    font-family: 'Share Tech Mono', monospace;
}

footer a {
    color: orangered;
}


@media (max-width:1080px) {
    .para {
        flex-direction: column;
        align-items: center;
    }

    .laylinks div {
        display: flex;
        justify-content: center;
    }

    .laylinks div img {
        width: 50%;
        height: 50%;
    }

    .laylinks .about {
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }

    .intro {
        width: 100%;
    }

    .laylinks {
        width: 100%;
    }
}

@media (orientation:landscape) {
    .intro {
        width: 70%;
    }

    .laylinks {
        width: 70%;
    }

    .laylinks .about {
        display: none;
    }

    .laylinks div img {
        width: 100%;
        border-radius: 3%;
    }
}


.container {
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container::after {
    content: '';
    /* background-color: rgb(0, 0, 0); */
    border: 10px solid blue;
    border-top-color: black;
    border-radius: 50%;
    position: absolute;
    height: 100px;
    width: 100px;
    animation: rotation 1s ease-out infinite;
}

@keyframes rotation {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg)
    }
}
